/* ********** Custom Properties ********** */
:root {
  --first-color: rgb(80, 158, 227);
  --first-alpha-color: rgba(80, 158, 227, 0.75);
  --second-color: rgb(0, 115, 129);
  --second-alpha-color: rgba(0, 115, 129, 0.75);
  --third-color: rgb(7, 31, 51, 0.97);
  --third-alpha-color: rgba(7, 31, 51, 0.75);

  --link-color: rgb(80, 158, 227);
  --link-alpha-color: rgba(80, 158, 227, 0.75);

  --bg-color: rgb(245, 245, 245);
  --bg-alpha-color: rgba(245, 245, 245, 0.75);

  --bs-success-text-emphasis: #02381f !important;
}

/* ********** Reset Styles ********** */
body {
  font-family: "Raleway", sans-serif;
}

a {
  color: var(--link-color);
  transition: all 0.3s ease-out;
}

a:hover {
  color: var(--first-color);
}

/* ********** Bootstrap Styles ********** */
.bg-dark {
  background-color: var(--second-color) !important;
}

.dropdown-item {
  color: var(--first-alpha-color);
  font-weight: bold;
  transition: all 0.3s ease-out;
}

.dropdown-item:hover {
  color: var(--third-alpha-color);
}

.navbar-brand img {
  width: auto;
  height: 3rem;
}

.navbar-dark .navbar-toggler {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  transition: all 0.3s ease-out;
}

.navbar-dark .navbar-toggler:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28217, 0, 98, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  opacity: 0.75;
}

.nav-item {
  transition: all 0.3s ease-out;
}

.nav-item:hover {
  background-color: var(--first-alpha-color);
}

.nav-link {
  margin-left: 0.5rem;
  color: var(--first-color);
  font-size: 1.15rem;
  font-weight: bold;
}

.nav-link:hover {
  color: var(--bs-white);
}

/* ********** My Styles ********** */
.bg-color {
  background-color: var(--bg-color);
}

.bg-alpha-color {
  background-color: var(--bg-alpha-color);
}

.bg-second-alpha-color {
  background-color: var(--second-alpha-color);
}

.bg-gradient-blue-green {
  background-color: rgba(59.6, 58, 72.5);
  background-image: linear-gradient(
    135deg,
    rgba(80, 158, 227),
    rgba(7, 31, 51, 0.97) 79%
  );
}

.bg-third-color {
  background-color: var(--third-color);
}

.text-first-color {
  color: var(--first-color);
}

.text-third {
  color: var(--third-color);
}
a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

/* HEADER */

header {
  padding: 40px 0;
}

header .logo {
  text-align: center;
  margin-bottom: 40px;
}

header p {
  font-weight: 800;
  margin-top: 10px;
  color: #9b9b9b;
}

header form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

header .barra-busqueda {
  width: 70%;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  padding: 0 20px;
  border-radius: 100px;
  border: none;
  text-align: center;
  font-size: 16px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0);
}

header .barra-busqueda:focus {
  outline: none;
  border: none;
}

header .categorias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header .categorias a {
  color: #9b9b9b;
  margin: 10px 20px;
  font-size: 18px;
  font-weight: 700;
}

header .categorias a.activo {
  color: #000;
}

/* GALERIA DE IMAGENES */

.grid {
  position: relative;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
  opacity: 1;
}

.grid .item {
  position: absolute;
  display: block;
  padding: 0;
  margin: 10px;
  width: calc(33.33333% - 20px);
}

.grid .item-contenido {
  position: relative;
}

.grid .item img {
  width: 100%;
  cursor: pointer;
  vertical-align: top;
  border-radius: 10px;
}

/* OVERLAY */

.overlay {
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay.activo {
  display: flex;
}

.overlay img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.overlay .descripcion {
  display: block;
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-top: 5px;
  max-width: 50%;
}

.container-img {
  position: relative;
  max-width: 600px;
  width: 100%;
}

.container-img button {
  background: none;
  font-size: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: -20px;
  outline: none;
}

/* RESPONSIVE DESING */

@media screen and (max-width: 700px) {
  header .barra-busqueda {
    width: 100%;
  }

  header .categorias a {
    margin: 10px 10px;
    font-size: 18px;
    font-weight: 700;
  }

  .grid .item {
    width: calc(50% - 20px);
  }

  .container-img {
    width: 80%;
  }

  .overlay .descripcion {
    max-width: 90%;
  }
}
