<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Galeria dinamica | Alpha Digital Media</title>

    <!--   link cdn de boostrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <!-- link cdn iconos de boostrap -->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
    <!--   links para fuentes -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!--   link estilos propios -->

    <link rel="stylesheet" href="../css/galeria.css" />

    <!--  Imagen de barra de navegador (favicon) -->

    <link rel="icon" href="../img/logo_icon_ADM.png" />
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">
          <img
            src="../img/logo_transparente_ADM.png"
            alt="Alpha Digital Media"
          />
        </a>
        <button
          class="navbar-toggler border-0"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-lg-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Sitios
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="galeria.html#proyectos"
                    >Últimos Proyectos</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="galeria.html#singlepage"
                    >Sitio <i>Single Page</i></a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="galeria.html#multipage"
                    >Sitio <i>Multi Page</i></a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="galeria.html"
                >Galeria</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="presupuestos.html">Presupuesto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contacto.html">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <!-- BARRA DE BUSQUEDA -->
      <header>
        <div class="logo">
          <h1>Alpha Digital Media</h1>
        </div>
        <form action="">
          <input
            type="text"
            class="barra-busqueda"
            id="barra-busqueda"
            placeholder="Buscar"
          />
        </form>
        <div class="categorias" id="categorias">
          <a href="#" class="activo">Todos</a>
          <a id="proyectos" href="#">Proyectos</a>
          <a id="singlepage" href="#">singlepage</a>
          <a id="multipage" href="#">multipages</a>
          <a href="#">Clientes</a>
        </div>
      </header>

      <!-- IMAGENES -->
      <section class="grid" id="grid">
        <div
          class="item"
          data-categoria="proyectos"
          data-etiquetas="Proyecto de plataforma para empresas"
        >
          <div class="item-contenido">
            <img
              src="../img/proyecto-1.jpg"
              alt="plataforma web para empresas"
            />
          </div>
        </div>
        <div
          class="item"
          data-categoria="proyectos"
          data-etiquetas="Proyecto reslizado tipo blog de entrenador personal"
        >
          <div class="item-contenido">
            <img src="../img/proyecto_2.jpg" alt="web entrenador personal" />
          </div>
        </div>
        <div
          class="item"
          data-categoria="proyectos"
          data-etiquetas="Proyecto tienda online stick walker hand made  "
        >
          <div class="item-contenido">
            <img src="../img/proyecto-3.jpg" alt="tienda online" />
          </div>
        </div>
        <div
          class="item"
          data-categoria="proyectos"
          data-etiquetas="Proyecto web para tienda fisica estetica"
        >
          <div class="item-contenido">
            <img src="../img/proyecto_4.jpg" alt="web para tienda estetica" />
          </div>
        </div>
        <div
          class="item"
          data-categoria="clientes"
          data-etiquetas="Cristian O'brian cliente satisfecho"
        >
          <div class="item-contenido">
            <img src="../img/clients-4.jpg" alt="cliente satisfecho" />
          </div>
        </div>
        <div
          class="item"
          data-categoria="singlepage"
          data-etiquetas="Sitios web site-singlepage"
        >
          <div class="item-contenido">
            <img
              src="../img/site-singlepage.jpg"
              alt="un sitio web singlepage"
            />
          </div>
        </div>
        <div
          class="item"
          data-categoria="clientes"
          data-etiquetas="CEO satisfecho por nuestros servicios prestados"
        >
          <div class="item-contenido">
            <img
              src="../img/clients-5.jpg"
              alt="empresario satisfecho por nuestro trabajo"
            />
          </div>
        </div>
        <div
          class="item"
          data-categoria="multipages"
          data-etiquetas="naturaleza tren"
        >
          <div class="item-contenido">
            <img src="../img/site-multipage.jpg" alt="" />
          </div>
        </div>
        <div
          class="item"
          data-categoria="proyectos"
          data-etiquetas="Proyecto de lanzamiento de una app para apple"
        >
          <div class="item-contenido">
            <img src="../img/proyecto-5.jpg" alt="web para una app apple" />
          </div>
        </div>

        <div
          class="item"
          data-categoria="clientes"
          data-etiquetas="cliente contento"
        >
          <div class="item-contenido">
            <img src="../img/clients-7.jpg" alt="cliente compartiendo ideas" />
          </div>
        </div>

        <div
          class="item"
          data-categoria="singlepage"
          data-etiquetas="Proyecto para restaurante menu, sitio one page"
        >
          <div class="item-contenido">
            <img src="../img/menu_singlepage.jpg" alt="menu restaurante" />
          </div>
        </div>
      </section>

      <!-- OVERLAY -->
      <section class="overlay" id="overlay">
        <div class="container-img">
          <button id="btn-cerrar"><i class="bi bi-x-circle"></i></button>
          <img
            src="../img/logo_transparente_ADM.png"
            alt="Alpha Digital Media"
          />
        </div>
      </section>
    </div>

    <!-- cdn de Muuri -->
    <script src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.3/dist/muuri.min.js"></script>

    <footer class="bg-dark p-3">
      <div class="container text-center">
        <nav class="d-flex justify-content-evenly">
          <a href="https://facebook.com" target="_blank"
            ><i class="bi bi-facebook fs-3"></i
          ></a>
          <a href="https://twitter.com" target="_blank"
            ><i class="bi bi-twitter fs-3"></i
          ></a>
          <a href="https://github.com/Aaronperezz" target="_blank"
            ><i class="bi bi-github fs-3"></i
          ></a>
          <a href="https://youtube.com" target="_blank"
            ><i class="bi bi-youtube fs-3"></i
          ></a>
          <a href="https://instagram.com" target="_blank"
            ><i class="bi bi-instagram fs-3"></i
          ></a>
          <a href="https://m.me/user" target="_blank"
            ><i class="bi bi-messenger fs-3"></i
          ></a>
          <a
            href="https://api.whatsapp.com/send?phone=5215512345678"
            target="_blank"
            ><i class="bi bi-whatsapp fs-3"></i
          ></a>
        </nav>
        <div class="row pt-4">
          <div class="col-12 col-lg-6">
            <p class="text-white">
              Direccion: Calle D` Aaron Vidal Lopez, 46026, valencia.
              <a href="contacto.html"> Encuentranos</a>
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <small class="text-white">
              &copy;2024 derechos reservados @AaronPerez. Hecho con fines de
              estudio.
            </small>
          </div>
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script src="../js/galeria.js"></script>
  </body>
</html>
